<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/photo/index.css">
    <title>Nina Adel Photography</title>
  </head>
  <body>
    <h1>Photography</h1>
    <ul class="topnav" id="myTopnav">
      <li><a href="index">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="gallery">Gallery</a></li>
      <li><a href="contact">Contact</a></li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
      </li>
    </ul>
    <div class="bigBox">
      <div class="textBox">
        <h1>Nina began photography as a hobby 200 years ago and fell in love. Enjoying the sense of adventure and escape she found herself searching for a better photo. Permanantly residing in San Diego she lives with her two cat-sons and her husband, Weis. Her favorite photographic subjects are her cats and landscapes, using the oppurtunity to explore more of the world around her.</h1>
      </div>
      <div class="textBox">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/92/9d/3d/929d3d9f76f406b5ac6020323d2d32dc.jpg" alt="place holder image" style="width:600px;height:900px;">
      </div>
    </div>
  </body>
</html>
