<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/photo/index.css">
    <title>Photography</title>
  </head>
  <body>
    <div class="wrapper">
      <h1>Nina Adel Photography</h1>
      <ul class="topnav" id="myTopnav">
        <li><a href="index">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="gallery">Gallery</a></li>
        <li><a href="contact">Contact</a></li>
        <li class="icon">
          <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
        </li>
      </ul>
      <div class="samplegall">
        <img src="http://cdn3-www.cattime.com/assets/uploads/2011/08/best-kitten-names-1.jpg" alt="place holder image" style="width:800px;height:500px;">
      </div>
      <!-- <div class="samplegall">
        <img src="http://cdn3-www.cattime.com/assets/uploads/2011/08/best-kitten-names-1.jpg" alt="place holder image" style="width:800px;height:500px;">
      </div> -->
      <div class="boxes">
        <div class="box">
          <a href="http://localhost:8000/about"><h2>About</h2></a>
          <img src="http://cdn3-www.cattime.com/assets/uploads/2011/08/best-kitten-names-1.jpg" alt="place holder image" style="width:100px;height:70px;">
          <p>here is some text that is about stuff.</p>
        </div>
        <div class="box">
          <a href="http://localhost:8000/gallery"><h2>Gallery</h2></a>
          <img src="http://cdn3-www.cattime.com/assets/uploads/2011/08/best-kitten-names-1.jpg" alt="place holder image" style="width:100px;height:70px;">
          <p>here is some text that is about stuff</p>
        </div>
        <div class="box">
          <a href="http://localhost:8000/contact"><h2>Contact</h2></a>
          <img src="http://cdn3-www.cattime.com/assets/uploads/2011/08/best-kitten-names-1.jpg" alt="place holder image" style="width:100px;height:70px;">
          <p>here is some text that is about stuff</p>
        </div>
      </div>
    </div>
  </body>
</html>
